body {
    background-color: rgb(55, 31, 94);
    margin: 0px;
    padding: 0px;
}

#intro {
    position: fixed;
    z-index: 100;
    width: 100%;
    height: 100%;
    background-color: rgb(0, 0, 0);
}

#introButt {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px 40px;
    font-size: 24px;
    color: white;
    background-color: rgb(84, 69, 99);
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

.fade-out {
    animation: intro-anim normal 10s linear;
}

@keyframes intro-anim {
    0% {
        background-color: rgb(0, 0, 0);
        opacity: 100%;
    }

    70% {
        opacity: 50%;
    }

    100% {
        background-color: rgb(136, 14, 236);
        opacity: 0%;
    }
}

#Passlock {
    background: rgba(255, 255, 255, 0.192);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 12vh;
    margin-bottom: 50vh;
    position: fixed;
    justify-self: center;
    color: white;
    border: solid;

    width: 90%;
    max-height: 400px;
    max-width: 600px;
    aspect-ratio: 3 / 2;

    background-color: rgb(202, 91, 236);

    border-radius: 30px;

    box-shadow: 0px 0px 10px 5px rgb(143, 94, 148);
}

#bgImg {
    width: 100%;
    height: 100%;
    position: absolute;
    object-fit: cover;
    z-index: -1;
    border-radius: 30px;   
    filter: blur(1px);
}

#wadapass {
    text-align: center;
    font-size: 25px;
    color: rgb(243, 203, 255);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-shadow: 0px 0px 2px rgb(0, 0, 0);
}

#inputBox {
    background-color: rgb(204, 167, 238);
    border-radius: 25px;
    border: solid;
    border-color: white;
    padding-left: 10px;
    height: 20%;
    width: 40%;
}

#enterbutt {
    margin-top: 10px;
    height: 40px;
    width: 120px;

    border-radius: 25px;
    border: solid;
    background-color: rgb(178, 146, 207);
    border-color: rgb(107, 87, 126);
    border-width: 2px;
}

#enterbutt:hover {
    background-color: rgb(84, 69, 99);
}

/* FULLSCREEN BACKGROUND */
#Fireworks {
    position: fixed;
    inset: 0;

    width: 100vw;
    height: 100vh;

    z-index: -1;
    pointer-events: none;

    background: transparent;
}

.hide {
    display: none !important;
}

.show {
    display: flex !important;
}